table {
	margin : 0;
}

body {
	color : red;
	font-size  : 100%;
	font-weight : normal;
	margin: 0;
	padding : 0;
	margin-right : 10px;
	padding-right : 5px;
}

div {
	color :red;
}

p{
	margin-top:21px;
	margin-bottom : 50px;
}